*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body
 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.home {
  background-image: url(..//images/Copy\ of\ drew-coffman-1872.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;
  overflow: auto;
}
.home-cap {
  text-align: center;
  color: whitesmoke;
  margin-top: 50px;
}
.nav {
}
.nav-logo {
  width: 15%;
  float: left;
  margin-top: 15px;
}
.nav-logo img {
  width: 100%;
}
.nav-link {
}
.nav-link ul {
  float: right;
}
.nav-link ul li {
  list-style-type: none;
  padding: 15px;
  float: left;
  margin-top: 15px;
}
.nav-link ul li a {
  color: white;
  text-decoration: none;
}
.clr {
  clear: both;
}
.container {
  width: 90%;
  margin: auto;
}
.home-cap p {
  font-size: 23px;
}
.home-cap h1 {
  font-size: 55px;
  font-weight: bold;
  margin: 20px 0;
}
.home-cap .btn {
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  margin: 20px 10px;
  color: white;
}
.home-cap .btn1 {
  background-color: burlywood;
  
}
.home-cap .btn2 {
  background-color: transparent;
  border: 2px solid white;
}
/* /<home> */

/* start about  */
.about {
 
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.about-img
{

  width: 40%;
  float: left;
}
.about-img img
{
  width: 100%;
}
.about-cap
{

  width: 50%;
  float: right;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color:#686868;
  margin-right: 20px;
}
.about-cap h2
{
  color: black;
}
.about-cap p
{
  margin: 20px 0;
}
.about-list
{
  text-align: left;
}
.about-list ul li 
{
  padding: 20px;
}
/* /About */
/* our Offer */
.offer
{
  width: 90%;
  margin: auto;
}
.offer-cap
{
  width: 50%;
  float: left;
  text-align: center;
  margin:50px 30px ;
  color:#686868;

}
.offer-cap h2
{
  color: black;
}
.offer-img
{
  width: 40%;
  float: right;
}
.offer-img img
{
  width: 100%;
}
.para
{
  margin: 20px 0px;
}
/* /offer */
/* Gallery */
.meal
{
width: 33%;
text-align: center;
float: left;
}
.meal img
{
  width: 100%;
}
.inner
{
  padding: ;
}
 