h1{
    text-align: center;
}
h1::after{
content:"";
width: 250px;
height: 5px;
background-color: red;
position: absolute;
top: 35px;
}
h1::before{
    content:"";
    width: 250px;
    height: 5px;
    background-color: teal;
    position: absolute;
    top: 35px;  
    left: 390px;
}